body,
html {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 10px;
    font-family: arial;
    box-sizing: border-box;
    background: linear-gradient(360deg, #201F24 0.36%, #38363F 51.66%, #64626C 100%);
    overflow: hidden;
    min-width: 1575px;
}

@media (-webkit-device-pixel-ratio: 1.25) {
    :root {
        zoom: 0.8;
    }
    body,
    html {
        height: 140vh;    
    }
    .wrap {
        height: 140vh;
    }
    
}

@media (-webkit-device-pixel-ratio: 1.5) {
    :root {
        zoom: 0.67;
    }
    
    .wrap {
        height: 170vh;   
    }
    
    body,
    html {
        height: 170vh;    
    }
}

/* SLIDER */
.h-items {
    width: 300%;
    font-size: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.h-items>li {
    display: inline-block;
    font-size: 12pt;
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
}

.next {
    right: 0px;
}

.wrap {
    max-width: 1530px;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}

.wrap header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrap main {
    display: flex;
    margin-top: 50px;
}


.login-btn {
    width: 300px;
    height: 75px;
    left: 1020px;
    top: 50px;
    background: #B2271A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(206, 34, 19, 0.25), inset 2px 2px 20px 1px #A91A0D;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.login-btn span {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    align-self: center;
    color: #FFFFFF;
}

.arrow_box {
    width: 50px;
    height: 50px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    transition-duration: 0.3s;
}

.arrow_box:hover {
    box-shadow: 0 0 3px #fff;
}

.dot {
    width: 10px;
    height: 10px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    transition-duration: 0.3s;
}
.dot-active {
    background: #FFFFFF;
    box-shadow: 0 0 3px #fff;
}

.horizontal-slider {
    width: 1400px;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}


.vertical-dots-box {
    margin-top: 30px;
}

.contacts-icons-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -50px;
}

.contacts-icons-box .col {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts-icons-box img {
    cursor: pointer;
}

.slide {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 90px;
}


main .logo {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    height: 109px;
    position: absolute;
    z-index: 3;
}

.z-index-1 {
    display: none !important;
    z-index: 1 !important;
}

.z-index-2 {
    z-index: 2 !important;
}

.header-dots {
    width: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-dots img {
    width: fit-content;
    margin: 0 auto;
}

.slide .title {
    margin-top: 10px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: white
}
.slide > p {
    margin-top: 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: white;
}

.slide article {
    display: flex;
    flex-direction: row;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.slide article .col {
    display: flex;
    flex-direction: column;
    width: 33.3%;
}

.slider-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.slider-dots .dots {
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: space-between;
}

.slider-controls {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: relative;
    top: -30px
}

.slider-controls .arrows {
    display: flex;
    flex-direction: row;
    width: 130px;
    justify-content: space-between;
}

footer {
    width: 1530px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
}

footer .left {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

footer .left div:first-child {
    margin-right: 30px;
}

footer .left div:last-child {
    margin-left: 150px;
}

footer .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
